<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanLyHoCau_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuanLyHoCau_.styles.css" asp-append-version="true" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style=" display: flex; justify-content: space-between; align-items: center;">
            <div style="justify-content: space-between; display: flex; width: 100%;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SHOPGIADUNG", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                        <li>@Html.ActionLink("Danh mục", "ListLoai", "Loai")</li>
                        <li>@Html.ActionLink("Sản phẩm", "ListSanPham", "SanPham")</li>
                        <li>@Html.ActionLink("Thương hiệu", "ListNhaCungCap", "NhaCungCap")</li>
                        <li id="GioHangPartial"></li>
                    </ul>
                </div>


                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Đăng Ký", "DangKy", "NguoiDung")</li>
                        <li>@Html.ActionLink("Đăng Nhập", "DangNhap", "NguoiDung")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Website Gia Dụng</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>